<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412079992522-nspj9tl1s1vat63aauq29ag35g3djgi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412079992522-nspj9tl1s1vat63aauq29ag35g3djgi0</string>
	<key>API_KEY</key>
	<string>AIzaSyCq7MFZ0pgdOiemybOkPjhMcmj1Hs6ypPo</string>
	<key>GCM_SENDER_ID</key>
	<string>412079992522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shamela</string>
	<key>PROJECT_ID</key>
	<string>shamela-7d414</string>
	<key>STORAGE_BUCKET</key>
	<string>shamela-7d414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412079992522:ios:2741350b84e7b2538e8e33</string>
	<key>DATABASE_URL</key>
	<string>https://shamela-7d414.firebaseio.com</string>
</dict>
</plist>